<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formularioLogin" (ngSubmit)="registrarUsuario(formularioLogin.value)">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Correo electrónico: </ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña: </ion-label>
    <ion-input formControlName="password" [type]="passwordType"></ion-input>
    <ion-icon name="eye" clearOnEdit="false" [color]="passwordShown === true ? 'dark':'medium' " slot="end" (click)="togglePassword()"></ion-icon>
  </ion-item> 
  <ion-button color="success" class="submit-btn" expand="block" type="submit" [disabled]="!formularioLogin.valid || loading">{{ loading ? 'Ingresando...' : 'Ingresar' }}</ion-button>
  </ion-list>
</form>


</ion-content>

