<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
 
      <ion-item>
        <ion-label>Pote de helado</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Potes prefabricados</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Otro</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button fill="outline" slot="start"> Cancelar </ion-button>
    <ion-button fill="outline" slot="end"> Continuar </ion-button>
  </ion-list>
 
  
</ion-content>
